<div style="background-color:#6699ff;">
<div class="container" >
    <h4 align=left>
      <p>The Shiller P/E Index is the ratio of the average price of stocks
        divided by the average earnings of those stocks over the last ten
        years, adjusted for inflation.  Many people consider it a good
        indication of whether the stock market is overvalued or undervalued.</p>
        <p>This website is an exploration into the predictive value of the Shiller
          P/E ratio regarding future performance of the stock market.</p>
      <p>For the last 100 years, the average value of the Shiller P/E Ratio is:
      <%= PriceShiller.average(:shiller_pe).to_f.round(1) %> </p>
      <p>Currently, the Shiller P/E is:
        <%= PriceShiller.first.shiller_pe %>
    </h4>
  <h2  align=center>Historical S&P 500 Stock Prices</h2>
  <table class="table-bordered table-condensed" align="center" style="background-color:#b3ccff;">
    <th align="center">Date</th><th align="center">S&P 500<br />Price</th>
          <th align="center">Shiller P/E<br />Ratio</th><th align="center">Monthly<br />Dividends</th>
          <th align="center">Shiller P/E<br />Decile</th><th align="center">1-month</th>
          <th align="center">3-month</th><th align="center">6-month</th><th align="center">1-year</th>
          <th align="center">3-year</th><th align="center">5-year</th><th align="center">10-year</th>
    <% @all_data.each do |line| %>
      <tr>
        <td class="col-xs-" align="center"><%= line.date %></td>
        <td class="col-xs-" align="center"><%= number_to_currency(line.sp500_price) %></td>
        <td class="col-xs-" align="center"><%= number_with_precision(line.shiller_pe, :precision => 2) %></td>
        <td class="col-xs-" align="center"><%= number_to_currency(line.mo_divs) %></td>
        <td class="col-xs-" align="center"><%= line.decile %></td>
        <td class="col-xs-" align="center"><%= line.one_mo %>%</td>
        <td class="col-xs-" align="center"><%= line.three_mo %>%</td>
        <td class="col-xs-" align="center"><%= line.six_mo %>%</td>
        <td class="col-xs-" align="center"><%= line.one_yr %>%</td>
        <td class="col-xs-" align="center"><%= line.three_yr %>%</td>
        <td class="col-xs-" align="center"><%= line.five_yr %>%</td>
        <td class="col-xs-" align="center"><%= line.ten_yr %>%</td>
      </tr>
    <% end %>
  </table>
</div>
</div>
