<html style="background-color:#6699ff;>
<div class="container">
  <h3>Absolute Performance of the S&P 500 Index by Decile</h3>
  <table class="table-bordered table-condensed" align="center" style="background-color:#b3ccff;">
    <th align="center">Shiller P/E<br />Decile</th><th align="center">1-month<br />Performance</th>
          <th align="center">3-month<br />Performance</th><th align="center">6-month<br />Performance</th>
          <th align="center">1-year<br />Performance</th><th align="center">3-year<br />Performance</th>
          <th align="center">5-year<br />Performance</th><th align="center">10-year<br />Performance</th>
      <% @performance_by_decile.each do |dec| %>
      <tr>
        <td class="col-xs" align="center"><%= dec.decile %></td>
        <td class="col-xs-" align="center"><%= dec.one_mo %>%</td>
        <td class="col-xs-" align="center"><%= dec.three_mo %>%</td>
        <td class="col-xs-" align="center"><%= dec.six_mo %>%</td>
        <td class="col-xs-" align="center"><%= dec.one_yr %>%</td>
        <td class="col-xs-" align="center"><%= dec.three_yr %>%</td>
        <td class="col-xs-" align="center"><%= dec.five_yr %>%</td>
        <td class="col-xs-" align="center"><%= dec.ten_yr %>%</td>
      </tr>
      <% end %>
      <tr>
        <td class="col-xs" align="center">S&P 500 Index Average</td>
        <td class="col-xs-" align="center"><%=  %>%</td>
        <td class="col-xs-" align="center"><%=  %>%</td>
        <td class="col-xs-" align="center"><%= %>%</td>
        <td class="col-xs-" align="center"><%= %>%</td>
        <td class="col-xs-" align="center"><%=  %>%</td>
        <td class="col-xs-" align="center"><%=  %>%</td>
        <td class="col-xs-" align="center"><%= %>%</td>
      </tr>
  </table>
</div>
</html>
